=form_for(@tape, :html => { :onsubmit => 'return validateTapeForm()' }) do |f|
  -if @tape.errors.any?
    %div#error_explanation
      %h2= #{pluralize(@tape.errors.count, "error")} prohibited this tape from being saved:
      =debug(@tapes)
      %ul
        -@tape.errors.full_messages.each do |msg|
          %li= msg

  %div.field
    =f.label :reference
    =text_field_tag :reference

  %div.field
    =f.select :reference, options_for_select([]), {}, {:multiple => true}

  %div.actions
    =link_to 'Remove Tape', '#', :class => 'btn btn-mini btn-danger', :id => 'remove_tape'

  %br

  %div.field
    =f.label :customer_id
    -customer_hash = Hash.new(0)
    -@customers.each do |customer|
      -customer_hash[customer.name] = customer.id
    =f.select(:customer_id, customer_hash)

  %div.actions
    =f.submit :class => 'btn btn-primary'

%h2 Import Tapes From CSV
=form_tag import_tapes_path, multipart: true do
  =file_field_tag :file
  %br
  =submit_tag "Import", :class => 'btn btn-primary'
