<h1>Listing tapes</h1>

<table>
  <thead>
    <tr>
      <th>Tape ref</th>
      <th>Location</th>
      <th>Customer</th>
    </tr>
  </thead>

  <tbody>
    <% @tapes.each do |tape| %>
      <tr>
        <td><%= tape.reference %></td>
        <td><%= tape.location.location %></td>
        <td><%= tape.customer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Tape', new_tape_path %>
